$global-margin: 1rem;
$global-padding: 1rem;

$tiny-margin: $global-margin / 4;
$small-margin: $global-margin / 2;
$normal-margin: $global-margin;
$large-margin: $global-margin * 2;
$x-large-margin: $global-margin * 4;

$tiny-padding: $global-padding / 4;
$small-padding: $global-padding / 2;
$normal-padding: $global-padding;
$large-padding: $global-padding * 2;
$x-large-padding: $global-padding * 4;


$normal-font-size: 100%;
$small-font-size: 82%;


